<h1 style='text-align:center;'>{{title}}</h1>

<div class='container'>
    <nav class='nav nav-pills'>
        <li role='presentation' class='postPage'><a href='/posts'><span class='glyphicon glyphicon-search'></span></a></li>
        <li role='presentation'><a href='/'><span class='glyphicon glyphicon-home'></span></a></li>
        <li role='presentation'><a href='/about'><span class='glyphicon glyphicon-file'></span></a></li>
    </nav>
</div>

<div class='theBox'></div>
