<header>
    <h1>{{ title }}</h1>
    <form action="/login" method="GET">
        <button name="logIn">Log In</button>
    </form>
    <form action="/signup" method="GET">
        <button name="signUp">Sign Up</button>
    </form>
</header>
<nav>
    <a href="/">HOME</a>
    <a href="#">HOW TO</a>
    <a href="#">ABOUT ME</a>
    <a href="#">CONTACT ME</a>
</nav>
<hr>

<form action='/userName' method='POST'>
  <input type='text' name='userName' placeholder='Username'>
  <input type='text' name='passWord' placeholder='Password'>
  <button>Sign In</button>
</form>
