<header>
    <h1>{{ title }}</h1>
    <form action="/login" method="GET">
        <button name="logIn">Log In</button>
    </form>
    <form action="/signup" method="GET">
        <button name="signUp">Sign Up</button>
    </form>
</header>
<nav>
    <a href="/">HOME</a>
    <a href="#">HOW TO</a>
    <a href="#">ABOUT ME</a>
    <a href="#">CONTACT ME</a>
</nav>
<hr>

<h3>All Chat Rooms</h3>
<h5>Politics</h5>
<h5>Religion</h5>
<h5>Sports</h5>
<h5>Technology</h5>
<h5>Console Gaming</h5>
<h5>Troll and War Room</h5>
<h5>Daily Query</h5>
<h5>Random Chat</h5>

<div id="chatForum">
{{# each memberUse }}
    {{ this.fullName }} <p>has this number: {{this._id}}
{{/each}}
</div>
