<header>
    <h1>{{ title }}</h1>
    <form action="/login" method="GET">
        <button>Log In</button>
    </form>
    <form action="/signup" method="GET">
        <button>Sign Up</button>
    </form>
</header>
<nav>
    <a href="/">HOME</a>
    <a href="#">HOW TO</a>
    <a href="#">ABOUT ME</a>
    <a href="#">CONTACT ME</a>
</nav>
{{# each memberUse }}
    <div id="userId">
        <h5>{{ this.fullName }}</h5>
        <h5>{{this._id}}</h5>
        <h5>{{this.userName}}</h5>
    </div>
{{/each}}
<hr>
<form action='/createProfile' method='POST' id="regForm">
  <p>Create User Account</p>
  <label for="FirstName">First Name:</label>
  <input type='text' name='firstName' placeholder='First Name'><br>
  <label for="midInit">Middle Init:</label>
  <input type='text' name='midInit' placeholder='Middle Initial'><br>
  <label for="LastName">Last Name:</label>
  <input type='text' name='lastName' placeholder='Last Name'><br>
  <label for="userName">User Name:</label>
  <input type='text' name='userName' placeholder='Username'><br>
  <label for="password">Password:</label>
  <input type='text' name='password' placeholder='Password'><br>
  <label for="email">Email:</label>
  <input type='text' name='emailAddress' placeholder='Email Address'><br>
  <button>Submit</button>
</form>
