header {
  width:18%;
  height: 6em;
  background: url("http://orig00.deviantart.net/6229/f/2013/114/8/5/gggggggggg_by_bensuit-d62v1ey.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: orange;
  display:block;
}
/*http://orig00.deviantart.net/6229/f/2013/114/8/5/gggggggggg_by_bensuit-d62v1ey.gif*/
/*http://sdeerwallpaper.com/Cool-Wallpapers/team-valor-backgrounds-Is-Cool-Wallpapers.jpg*/
